
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    line-height: 1;
    zoom: none;
    scrollbar-width: none;
}

body{
    background-image: url('/images/meshBg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 100;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar{
    display: none;
}

.cta_section{
    background-image: url('/images/meshBg2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.showcase_section{
    background-image: url('/images/meshBg2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}